.chat-box {
    border: 1px solid #ddd;
    margin: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 10px;
    max-width: 350px;
    height: 550px;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .chat-messages {
    overflow-y: auto;
    
    height: 90%;
    width: 100%;
    text-align: left;
  }
  
  .chat-input {
    display: flex;
    height: 10%;
  }



  .message {
    width: 100%;
    display: block;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word; 
   white-space: pre-wrap;
   border-bottom: 1px solid #ddd; /* Add thin line for separation */
    padding-bottom: 12px;
    flex-wrap: wrap;
  }

  .message p {
    max-width: 100%; 
  }

  .message:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  
  .message.sent {
    justify-content: flex-end;
    text-align: right;
  }
  
  .message.received {
    justify-content: flex-start;
    text-align: left;
  }
  
  .message-sender{
    font-size: 12px;
    margin-right: 8px;
    color:red;
  }
  .message-sender-self{
    font-size: 12px;
    margin-right: 8px;
    color:blue;
  }
  .timestamp {
    font-size: 0.8em;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .chat-input input {
    flex-grow: 1;
    margin-right: 5px;
  }
  
  .chat-input button {
    width: 60px;
    top: -7px;
    background-color: green;
    border: none;
    padding: 6px 0;
    border-radius: 5px;
    cursor: pointer;
  }